body{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
p{  
    font-size: larger;
    color:cornsilk;
}
#post{
  display: flex;
  flex-direction: column;
}

#container{
    display:flex;
    text-align: center;
    width: 70%;
    background-color: darkslategray;
    border-radius: 1em;
}

#cabecera{
    background: crimson;
    color: cornsilk;
    margin: 0;
    padding: 2%;
    text-align: left;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8 em;
}

#container h1{
    font-size: 20px;
}

#banner{
    height: 60;
=======
#footer{
    background: #765;
    color: white; 
}
