body{
    text-align: center;
    color:green;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
p{  
    font-size: larger;
    color:cornsilk;
}
#container{
    text-align: center;
    width: 70%;
    background-color: darkslategray;
    border-radius: 1em;
}

#cabecera{
    background: crimson;
    color: cornsilk;
    margin: 0;
    padding: 2%;
    text-align: left;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8 em;
}

#container h1{
    font-size: 20px;
}
